<div class="h-screen" *ngIf="this.players$ | async as players">
  <div class="flex items-center">
    <app-back-button></app-back-button>
    <h1 class="flex-1 text-center text-3xl font-bold underline">
      {{ this.title }}
    </h1>
  </div>
  <div class="mt-20 flex flex-col gap-2 md:grid grid-cols-2 lg:grid-cols-3">
    <div
      *ngFor="let player of players"
      class="p-5 flex items-center gap-2 bg-blue-50"
    >
      <img
        [src]="player.thumbnail"
        alt="Player image"
        class="aspect-square w-28"
      />
      <div>
        <p class="font-bold">{{ player.name }}</p>
        <p class="font-light text-gray-600">{{ player.position }}</p>
        <p class="font-light text-gray-600">birthdate: {{ player.born }}</p>
        <p class="font-light text-gray-600">
          price:
          {{ player.signins[0].amount > 0 ? player.signins[0].amount : "free" }}
        </p>
      </div>
    </div>
  </div>
</div>
