<div class="h-screen" *ngIf="this.leagues$ | async as leagues">
  <h1 class="text-center text-3xl font-bold underline">Leagues</h1>
  <form [formGroup]="this.form" class="mt-20 flex justify-center">
    <app-search-input formControlName="name"></app-search-input>
  </form>
  <div class="mt-20 flex flex-col text-center lg:flex-row lg:flex-wrap gap-4">
    <button
      *ngFor="let league of leagues"
      class="p-5 rounded bg-sky-700 hover:scale-110"
      (click)="handleCLick(league)"
    >
      <p>{{ league.name }}</p>
    </button>
  </div>
</div>
